body, html{display:block; position:relative; min-height:100%; margin:0; padding:0; overflow-x:hidden; height:100%}

#cover{overflow:hidden;min-height:100%;}
#cover canvas{z-index:-1;}
#cover .profile{top: 34%;width:100%;position: absolute;}
#cover .profile .thumbnail{
    border-radius: 95px;
    margin: 0 auto;
}
#cover .profile .profile-text{padding: 0 30px;clear: both;margin: 0 auto;display: block;float: none;position: relative;color: #000;}
#cover .profile .profile-text h1{font-weight: bold;color: #383838;text-shadow: 0px 1px 0px #000000;}
#cover .profile .profile-text p{
    color: #fff;
    font-family: cursive;
    font-size: 20px;
}

#intro{}

#about{background:#43cea2; /* fallback for old browsers */background:-webkit-linear-gradient(to left,#43cea2,#185a9d); /* Chrome 10-25,Safari 5.1-6 */background:linear-gradient(to left,#43cea2,#185a9d); /* W3C,IE 10+/ Edge,Firefox 16+,Chrome 26+,Opera 12+,Safari 7+*/min-height:100%}

#colors{
    min-height: 100%;
    background: #ffffff;
}
#colors .jcolor{
    display: block;
    background: #50C9C3; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #50C9C3 , #96DEDA); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #50C9C3 , #96DEDA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    min-height: 165px;
    border: none;
    border-radius: 0;
}


/*
*	gradients
*/
.kyoto{
background: #c21500; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #c21500 , #ffc500); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #c21500 , #ffc500); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.sirius_tamed{
background: #EFEFBB; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #EFEFBB , #D4D3DD); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #EFEFBB , #D4D3DD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.a_lost_memory{
background: #DE6262; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #DE6262 , #FFB88C); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #DE6262 , #FFB88C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.blurry_beach{
background: #d53369; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #d53369 , #cbad6d); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #d53369 , #cbad6d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}



