<!doctype html>
<html ng-app="app">
<head ng-controller="head">
	<meta charset="UTF-8">
	<title>{{title}}</title>
	
	<link rel="stylesheet" href="css/bootstrap.css" media="screen">
	<!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"> -->
	<link rel="stylesheet" href="css/font-awesome.css">
	<link rel="stylesheet" href="css/bootstrap-datepicker-3.css">
	<link rel="stylesheet" href="css/style.css">
	
	<script src="js/jquery.min.1.11.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/bootstrap-datepicker.js"></script>
	<script src="js/isotope.2.2.pkgd.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/helpers.js"></script>

</head>
<body>
	
	<div class="container">
		<!-- Tab panes -->
		<div class="tab-content">
			<!-- Home -->
			<div role="tabpanel" class="tab-pane active" id="home" ng-controller="home">
			
			<!-- Nav -->
			<section>
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#home" role="tab" data-toggle="tab"><i class="fa fa-home"></i> Home</a></li>
					<li role="presentation"><a href="#timeline" role="tab" data-toggle="tab"><i class="fa fa-connectdevelop"></i> Timeline</a></li>
					<li role="presentation"><a href="#notes" role="tab" data-toggle="tab"><i class="fa fa-file-o"></i> Notes</a></li>
					<li role="presentation"><a href="#settings" role="tab" data-toggle="tab"><i class="fa fa-cogs"></i></a></li>
					<li role="presentation"><a href="#misc" role="tab" data-toggle="tab"><i class="fa fa-plus"></i></a></li>
				</ul>
				<div class="row grid">
					<div class="col-xs-12 col-md-3 box">
						<a class="primary" href="#expenseTab" role="tab" data-toggle="tab">Expenses</a>
					</div>
					<div class="col-xs-12 col-md-2 box">
						<a class="secondary" href="#expenseTab" role="tab" data-toggle="tab">Income</a>
					</div>
					<div class="col-xs-12 col-md-4 box">
						<a class="tertiary" href="#expenseTab" role="tab" data-toggle="tab">Timeline</a>
					</div>
					<div class="col-xs-12 col-md-2 box">
						<a class="quaternary" href="#expenseTab" role="tab" data-toggle="tab">Notes</a>
					</div>
					<div class="col-xs-12 col-md-2 box">
						<a class="quinary" href="#misc" role="tab" data-toggle="tab">Misc</a>
					</div>
					<div class="col-xs-12 col-md-1 box">
						<a class="senary" href="#settings" role="tab" data-toggle="tab">Settings</a>
					</div>
					<div class="col-xs-12 col-md-1 box">
						<a class="septenary" href="#about" role="tab" data-toggle="tab">About</a>
					</div>
				</div>
			</section>
				
				<div class="row">
					<div class="col-md-3 tile">
						<div id="expenses"><a href="#expenseTab" role="tab" data-toggle="tab">Expenses</a></div>
					</div>

					<div class="col-md-9">
						<div class="row">
							<!-- Net -->
							<div id="net" class="col-md-6 tile">
								<div class="well well-xs">
									<h3 class="title">Net (Savings)</h3>
									<b>{{Vars.net = income-Vars.total | currency:symbol}}</b>
								</div>
							</div>
							<!-- Balance -->
							<div id="balance" class="col-md-6 tile">
								<div class="well well-xs">
									<h3 class="title">Balance</h3>
									<div class="row">
										<div class="col-md-12">
											<div class="progress">
												<div class="progress-bar" role="progressbar" style="width: {{ (Vars.net/income) * 100 | number : 2}}%;">
													<span>{{ (Vars.net/income) * 100 | number : 2}}%</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<!-- Income -->
							<div id="income" class="col-md-6 tile">
								<div class="well well-xs">
									<h3 class="title">Income</h3>
									<input class="form-control input-lg" type="text" value="{{income}}" ng-blur="save()" ng-model="income" currency-format>
								</div>
							</div>
							<!-- Total Expense -->
							<div id="total" class="col-md-6 tile">
								<div class="well well-xs">
									<h3 class="title">Total Expense</h3>
									<span>{{Vars.total | currency:symbol}}</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!-- Expenses -->
			<div role="tabpanel" class="tab-pane" id="expenseTab" ng-controller="expenses" ng-init="update()">
			
				<!-- Subnav -->
				<div class="row nav">
					<div class="form-group col-md-3">
						<div class="btn-group">
							<a class="btn btn-success back" href="#home" role="tab" data-toggle="tab"><i class="fa fa-arrow-circle-left fa-2x"></i></a>
							<a class="btn btn-success" ng-click="addExpense()"><i class="fa fa-file-o fa-2x"></i></a>
							<a class="btn btn-success" ng-click="percentView = !percentView"><i class="fa fa-area-chart fa-2x"></i></a>
						</div>
					</div>
					<div class="form-group col-md-2 pull-right">
					<div class="input-group">
						<span class="input-group-addon">Month Of</span>
						<select class="form-control"
							ng-model="selectMonth" 
							ng-options="m.value as m.name for m in Service.date.months"
							ng-change="update()">
						</select>
					</div>
					</div>
				</div>

				<br>
				
				<!-- Expenses Repeat -->
				<div class="row">
					<div class="col-md-4 col-lg-4" ng-repeat="expense in expenses track by $index">
						<div class="well well-xs expense">
							<h3 class="tag pull-left" ><input type="text" ng-model="expense.label" ng-blur="save()"></h3>
							
							<div class="btn-group btn-group-xs pull-right" role="group">
								<a class="btn btn-primary btn-xs" ng-click="percentView = !percentView"><i class="fa fa-area-chart"></i></a>
								<a class="btn btn-primary btn-xs" ng-click="removeExpense($index); save()"><i class="fa fa-times"></i></a>
							</div>
							
							<table class="table">
								<thead>
									<tr>
										<th>Time</th>
										<th>Label</th>
										<th>
											<span ng-show="!percentView">Amount</span>
											<span ng-show="percentView">Percentage</span>
										</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="item in expense.items track by $index">
										<td>
											<input class="form-control input-sm" type="text" ng-model="item.time" disabled>
										</td>
										<td>
											<input class="form-control input-sm" type="text" value="{{item.label}}" ng-model="item.label" ng-blur="save()">
										</td>
										<td>
											<div ng-show="!percentView">
												<input class="form-control input-sm" type="text" ng-model="item.amount" ng-blur="save()" ng-minlength="1" currency-format>
											</div>
											<div class="progress" ng-show="percentView">
												<div class="progress-bar progress-bar-info" style="width: {{(item.amount/expense.total)*100 | number : 2}}%"><span>{{(item.amount/expense.total)*100 | number : 2}}%</span></div>
											</div>
										</td>
										<td>
											<button type="button" class="btn btn-default btn-xs" ng-click="removeRow($index,expense.items)">X</button>
										</td>
									</tr>
								</tbody>
							</table>

							<span class="pull-right">Total: {{itemTotal($index) | currency:symbol}}</span>
							<button type="button" class="btn btn-default btn-sm" ng-click="addRow($index)">Add Row</button>
						</div>
					</div>
				</div>
				
				<!-- Updates Service Variable -->
				<section ng-show="isDebug">
					<pre>Expenses: {{Vars.expenses = expenses}}</pre>
					<pre>Totals: {{Vars.total = total() | currency:symbol}}<br>Current month: {{Vars.month = month}}<br>Selected Month: {{Vars.selectMonth = selectMonth}}</pre>
					<pre>Memory: {{memory}}</pre>
				</section>
			</div>

			<!-- Timeline -->
			<div role="tabpanel" class="tab-pane" id="timeline">

				<div class="row">
					<div class="timeline-centered">
						<article class="timeline-entry">
						<div class="timeline-entry-inner">
							<time class="timeline-time" datetime="2014-01-10T03:45"><span>03:45 AM</span><span>Today</span></time>
							<div class="timeline-icon bg-success">
								<i class="entypo-feather"></i>
							</div>
							<div class="timeline-label">
								<h2><a href="#">Art Ramadani</a><span>posted a status update</span></h2>
								<p>Tolerably earnestly middleton extremely distrusts she boy now not. Add and offered prepare how cordial two promise. Greatly who affixed suppose but enquire compact prepare all put. Added forth chief trees but rooms think may.</p>
							</div>
						</div>
						</article>
						<article class="timeline-entry left-aligned">
						<div class="timeline-entry-inner">
							<time class="timeline-time" datetime="2014-01-10T03:45"><span>03:45 AM</span><span>Today</span></time>
							<div class="timeline-icon bg-secondary">
								<i class="entypo-suitcase"></i>
							</div>
							<div class="timeline-label">
								<h2><a href="#">Job Meeting</a></h2>
								<p>
									You have a meeting at <strong>Laborator Office</strong> Today.
								</p>
							</div>
						</div>
						</article>
						
						
						<article class="timeline-entry begin">
						<div class="timeline-entry-inner">
							<div class="timeline-icon" style="-webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg);">
								<i class="entypo-flight"></i>
							</div>
						</div>
						</article>
					</div>
				</div>
				
			</div>
			
			<!-- Notes -->
			<div role="tabpanel" class="tab-pane" id="notes" ng-controller="notes">
				<h2>Notes</h2>
				<div class="row">
					<div class="col-md-12">
						<textarea class="form-control" name="notes" rows="11" ng-blur="save()" ng-model="notes">{{notes}}</textarea>
						<br>
						<br>
					</div>
				</div>
			</div>
			
			<!-- Settings -->
			<div role="tabpanel" class="tab-pane" id="settings" ng-controller="settings">
				<h2>Settings</h2>
				<form>
					<div class="row">
						<div class="col-md-3 col-lg-3"></div>
						<div class="col-md-6 col-lg-6">
							<div class="form-group"> 
								<div class="input-group">
									<span class="input-group-addon">App Title</span>
									<input type="text" class="form-control number" ng-model="options.title">
								</div>
							</div>
							<div class="form-group"> 
								<div class="input-group">
									<span class="input-group-addon">Currency Symbol</span>
									<input type="text" class="form-control number" ng-model="options.symbol">
								</div>
							</div>
							<div class="form-group"> 
								<div class="input-group">
									<span class="input-group-addon">Debug</span>
									<select class="form-control"
										ng-init="options.debug=options.debug==null?false:options.debug"
										ng-model="options.debug" 
										ng-options="option.value as option.name for option in [{value:false,name:'False'},{value:true,name:'True'}]">
									</select>
								</div>
							</div>
							<button class="btn btn-default pull-right" type="button" ng-click="save()">Save</button>
							<button class="btn btn-default" type="button" ng-click="clear()">Clear Data</button>
						</div>
						<div class="col-md-3 col-lg-3"></div>
					</div>
				</form>
			</div>
	
			<!-- Misc -->
			<div role="tabpanel" class="tab-pane" id="misc">
				<h2>Misc</h2>
				<div class="row">
					<div class="col-md-12"></div>
				</div>
			</div>
			
			<!-- About -->
			<div role="tabpanel" class="tab-pane" id="about">
				<!-- Subnav -->
				<div class="row nav">
					<div class="form-group col-md-3">
						<div class="btn-group ">
							<a class="btn btn-success back" href="#home" role="tab" data-toggle="tab"><i class="fa fa-arrow-circle-left fa-2x"></i></a>
						</div>
					</div>
				</div>
				<h2>About</h2>
				<div class="row">
					<div class="col-md-12"></div>
				</div>
			</div>

		</div>
		<!-- End Tab contents -->
	</div>

	<script src="js/script.js"></script>
</body>
</html>