<!doctype html>
<html ng-app="app">
<head ng-controller="head">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{settings.title}}</title>
	
	<link rel="stylesheet" href="css/bootstrap.css" media="screen">
	<!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"> -->
	<link rel="stylesheet" href="css/font-awesome.css">
	<link rel="stylesheet" href="css/bootstrap-datepicker-3.css">
	<link rel="stylesheet" href="css/style.css">
	
	<script src="js/jquery.min.1.11.js"></script>
	<script src="js/underscore.js"></script>
	<script src="js/jquery.min.1.11.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/bootstrap-datepicker.js"></script>
	<script src="js/isotope.2.2.pkgd.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/helpers.js"></script>

</head>
<body>
	
	<div class="container-fluid">
		<!-- Tab panes -->
		<div class="tab-content">
		
			<!------ Home ------>
			<div role="tabpanel" class="tab-pane" id="home" ng-controller="home">
				<!-- Nav -->
				<section class="row grid">
					<div class="col-xs-6 col-md-2 box">
						<a class="primary" href="#expense" role="tab" data-toggle="tab">Expenses</a>
					</div>
					<div class="col-xs-6 col-md-2 box">
						<!-- Income --> 
						<a class="secondary" href="#income" role="tab" data-toggle="tab">
							Incomes<br>
							<b>{{Service.income | currency:Settings.symbol}}</b>
						</a>
					</div>
					<div class="col-xs-6 col-md-2 box">
						<!-- Net -->
						<div class="tertiary well well-xs">
							<h3 class="title">Net (Savings)</h3>
							<b>{{net() | currency:Settings.symbol}}</b>
						</div>
					</div>
					<div class="col-xs-6 col-md-6 box">
						<!-- Balance -->
						<div class="quaternary well well-xs">
							<h3 class="title">Balance</h3>
							<div class="progress">
								<div class="progress-bar" role="progressbar" style="width: {{ balance() | number : 2}}%;">
									<span>{{ balance() | number : 2}}%</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-6 col-md-5 box">
						<!-- Total Expenses -->
						<a class="secondary" href="#totals" role="tab" data-toggle="tab">
							<h3 class="title">Total Expense</h3>
							<span>{{totalExpense() | currency:Settings.symbol}}</span>
						</a>
					</div>
					<div class="col-xs-6 col-md-4 box">
						<a class="senary" href="#timeline" role="tab" data-toggle="tab">Timeline</a>
					</div>
					<div class="col-xs-6 col-md-3 box">
						<a class="septenary" href="#overview" role="tab" data-toggle="tab">Overview</a>
					</div>
					<div class="col-xs-6 col-md-6 box">
						<a class="octonary" href="#notes" role="tab" data-toggle="tab">Notes</a>
					</div>
					<div class="col-xs-6 col-md-3 box">
						<a class="dark" href="#settings" role="tab" data-toggle="tab">Settings</a>
					</div>
					<div class="col-xs-6 col-md-3 box">
						<a class="bright" href="#about" role="tab" data-toggle="tab">About</a>
					</div>
				</section>
				
				<!--  Debbugger/Setter -->
				<section ng-show="Settings.debug">
					<pre>net: {{net()}}</pre>
					<pre>Current Month: {{Service.month}}</pre>
					<pre>Income: {{Service.storage[Service.month].income | json}}</pre>
					<pre>Expense: {{expense | json}}</pre>
					<pre>Storage: {{Service.storage}}</pre>
				</section>
			</div>
			
			
			<!------ Expenses ------>
			<div role="tabpanel" class="tab-pane" id="expense" ng-controller="expenses">
			
				<!-- Subnav -->
				<div class="row nav">
					<div class="form-group col-md-3">
						<div class="btn-group">
							<a class="btn btn-success back" href="#home" role="tab" data-toggle="tab"><i class="fa fa-arrow-circle-left fa-2x"></i></a>
							<a class="btn btn-success" ng-click="addExpense()"><i class="fa fa-file-o fa-2x"></i></a>
							<a class="btn btn-success" ng-click="percentView = !percentView"><i class="fa fa-area-chart fa-2x"></i></a>
						</div>
					</div>
					<div class="form-group col-md-3 pull-right">
						<div class="input-group">
							<span class="input-group-addon">Month Of</span>
							<select class="form-control"
								ng-model="Service.month" 
								ng-options="m.value as m.name for m in Service.date.months"
								ng-change="set()">
							</select>
						</div>
					</div>
				</div>
				<br>
				
				<!-- Expenses Repeat -->
				<section class="row">
					<div class="col-md-4 col-lg-4" ng-repeat="expense in Service.storage[Service.month].expenses track by $index">
						<div class="well well-xs expense">
							<h3 class="tag pull-left" ><input type="text" ng-model="expense.label" ng-blur="save()"></h3>
							
							<div class="btn-group btn-group-xs pull-right" role="group">
								<a class="btn btn-primary btn-xs" ng-click="percentView = !percentView"><i class="fa fa-area-chart"></i></a>
								<a class="btn btn-primary btn-xs" ng-click="removeExpense($index); save()"><i class="fa fa-times"></i></a>
							</div>
							
							<table class="table">
								<thead>
									<tr>
										<th>Time</th>
										<th>Label</th>
										<th>
											<span ng-show="!percentView">Amount</span>
											<span ng-show="percentView">Percentage</span>
										</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="item in expense.items track by $index">
										<td>
											<input class="form-control input-sm" type="text" ng-model="item.time" disabled>
										</td>
										<td>
											<input class="form-control input-sm" type="text" value="{{item.label}}" ng-model="item.label" ng-blur="save()">
										</td>
										<td>
											<div ng-show="!percentView">
												<input class="form-control input-sm" type="text" ng-model="item.amount" ng-blur="save()" ng-minlength="1" currency-format>
											</div>
											<div class="progress" ng-show="percentView">
												<div class="progress-bar progress-bar-info" style="width: {{(item.amount/expense.total)*100 | number : 2}}%"><span>{{(item.amount/expense.total)*100 | number : 2}}%</span></div>
											</div>
										</td>
										<td>
											<button type="button" class="btn btn-default btn-xs" ng-click="removeRow($index,expense.items)">X</button>
										</td>
									</tr>
								</tbody>
							</table>

							<span class="pull-right">Total: {{itemTotal($index) | currency:symbol}}</span>
							<button type="button" class="btn btn-default btn-sm" ng-click="addRow($index)">Add Row</button>
						</div>
					</div>
				</section>
				
				<!--  Debbugger/Setter -->
				<section ng-show="Settings.debug">
					<pre>Totals: {{Vars.total = total() | currency:symbol}}<br>Current month: {{Service.month}} <br>Current Income: {{Service.storage[Service.month].income}}</pre>
					<pre>Expenses: {{ Service.storage[Service.month].expenses }}</pre>
					<pre>Storage: {{Service.storage | json}}</pre>
					<pre>Service: {{Service}}</pre>
				</section>
			</div>

			
			<!------ Income ------>
			<div role="tabpanel" class="tab-pane" id="income" ng-controller="income">
				<!-- Subnav -->
				<div class="row nav">
					<div class="form-group col-md-3">
						<div class="btn-group ">
							<a class="btn btn-success back" href="#home" role="tab" data-toggle="tab"><i class="fa fa-arrow-circle-left fa-2x"></i></a>
						</div>
					</div>
					<div class="form-group col-md-3 pull-right"> 
						<div class="input-group">
							<span class="input-group-addon">Month Of</span>
							<select class="form-control"
								ng-model="Service.month" 
								ng-options="m.value as m.name for m in Service.date.months"
								ng-change="newIncome()">
							</select>
						</div>
					</div>
				</div>
				
				<h2>Incomes</h2>

				<!-- Income repeat -->
				<section class="row">
					<div class="col-md-4 {{key==Service.month}}" ng-repeat="(key,month) in Service.storage track by $index">
						<div class="well well-xs income">
							<h3 class="title">{{key}}</h3>
							<table class="table">
								<thead>
									<tr>
										<th>Label</th>
										<th>Amount</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="income in month.income track by $index">
										<td><input class="form-control input-sm" type="text" ng-model="income.label" ng-blur="Service.save()"></td>
										<td><input class="form-control input-sm" type="text" ng-model="income.amount" ng-blur="Service.save()" currency-format></td>
										<td><button type="button" class="btn btn-default btn-xs" ng-click="delRow(month.income,$index)">X</button></td>
									</tr>
								</tbody>
							</table>
							<div class="form-group"> 
								<div class="input-group">
									<span class="input-group-addon">Income</span>
									<input type="text" class="form-control" value="{{total(month.income)}}" readonly>
									<span class="input-group-btn">
										<button class="btn btn-default" type="button" ng-click="addRow(month.income)">+</button>
									</span>
								</div>
							</div>
						</div>
					</div>
				</section>

				<!--  Debbugger/Setter -->
				<section ng-show="Settings.debug">
					<pre>Current Month: {{Service.month}}</pre>
					<pre>Current Income: {{Service.storage[Service.month].income | json}}</pre>
					<pre>Storage: {{Service.storage | json}}</pre>
					<pre>Service: {{Service | json}}</pre>
				</section>
			</div>
			
			<!------ Totals ------>
			<div role="tabpanel" class="tab-pane" id="totals" ng-controller="totals">
				<!-- Subnav -->
				<div class="row nav">
					<div class="form-group col-md-3">
						<div class="btn-group ">
							<a class="btn btn-success back" href="#home" role="tab" data-toggle="tab"><i class="fa fa-arrow-circle-left fa-2x"></i></a>
						</div>
					</div>
				</div>
				
				<h2>Totals</h2>
				<!-- Totals Repeat -->
				<section class="row">
					<div class="col-md-3" ng-repeat="(key,total) in totals track by $index">
						<div class="well well-sm">
							<p>
								<strong>{{total.month}}</strong>
								<span class="label label-primary pull-right">{{key+1}}</span>
							</p>
							<section ng-show="Settings.debug">
								<pre>{{ total | json }}</pre>
							</section>
						</div>
					</div>
				</section>
				
				<!--  Debbugger/Setter -->
				<section ng-show="Settings.debug">
					<pre>{{Settings | json}}</pre>
					<pre>{{Service | json}}</pre>
				</section>
			</div>
			
			<!------ Overview ------>
			<div role="tabpanel" class="tab-pane" id="overview" ng-controller="overview">
				<!-- Subnav -->
				<div class="row nav">
					<div class="form-group col-md-3">
						<div class="btn-group ">
							<a class="btn btn-success back" href="#home" role="tab" data-toggle="tab"><i class="fa fa-arrow-circle-left fa-2x"></i></a>
						</div>
					</div>
				</div>
				<h2>Overview</h2>
				<section class="row">
					<div class="col-md-12"></div>
				</section>
				
				<!--  Debbugger/Setter -->
				<section ng-show="Settings.debug">
					<pre>{{Settings | json}}</pre>
					<pre>{{service | json}}</pre>
				</section>
			</div>

			
			<!------ Timeline ------>
			<div role="tabpanel" class="tab-pane" id="timeline" ng-controller="timeline">
				<!-- Subnav -->
				<div class="row nav">
					<div class="form-group col-md-3">
						<div class="btn-group ">
							<a class="btn btn-success back" href="#home" role="tab" data-toggle="tab"><i class="fa fa-arrow-circle-left fa-2x"></i></a>
						</div>
					</div>
				</div>
				
				<section class="row">
					<div class="col-md-12">
						<div class="timeline-centered">
							<article class="timeline-entry" ng-repeat="(key, month) in Months track by $index">
								<div class="timeline-entry-inner">
									<time class="timeline-time"><span>{{key}}</span><span></span></time>
									<div class="timeline-icon bg-success"><i class="entypo-feather"></i></div>
									<div class="timeline-label">
										<h2>Total Expense: {{month.expenses[0].total | currency:symbol}}</h2>
										<label>Income: {{month.income | currency:symbol}}</label> <br>
										<label>Net: {{month.income-month.expenses[0].total | currency:symbol}}</label>
										<br>
										<br>
										<div class="progress">
											<div class="progress-bar progress-bar-default" style="width: {{(month.income-month.expenses[0].total)/month.income*100 | number : 2}}%">
												<span>{{(month.income-month.expenses[0].total)/month.income*100 | number : 2}}% Savings</span>
											</div>
											<div class="progress-bar progress-bar-danger" style="width: {{100-((month.income-month.expenses[0].total)/month.income*100) | number : 2}}%">
												<span>{{100-((month.income-month.expenses[0].total)/month.income*100) | number : 2}}% Expense</span>
											</div>
										</div>
										<br>
										<label>Cards</label>
										<ol>
											<li ng-repeat="x in month.expenses">{{x.label}}</li>
										</ol>
									</div>
								</div>
							</article>
						</div>
					</div>
				</section>
				
				<!--  Debbugger/Setter -->
				<section ng-show="Settings.debug">
					<pre>Months: {{Months}}</pre>
				</section>
			</div>
			
			
			<!------ Notes ------>
			<div role="tabpanel" class="tab-pane" id="notes" ng-controller="notes">
				<!-- Subnav -->
				<div class="row nav">
					<div class="form-group col-md-3">
						<div class="btn-group ">
							<a class="btn btn-success back" href="#home" role="tab" data-toggle="tab"><i class="fa fa-arrow-circle-left fa-2x"></i></a>
						</div>
					</div>
				</div>
				<h2>Notes</h2>
				<section class="row">
					<div class="col-md-12">
						<textarea class="form-control" name="notes" rows="11" ng-blur="save()" ng-model="notes">{{notes}}</textarea>
						<br>
						<br>
					</div>
				</section>
			</div>
			
			
			<!------ Settings ------>
			<div role="tabpanel" class="tab-pane" id="settings" ng-controller="settings">
				<!-- Subnav -->
				<div class="row nav">
					<div class="form-group col-md-3">
						<div class="btn-group ">
							<a class="btn btn-success back" href="#home" role="tab" data-toggle="tab"><i class="fa fa-arrow-circle-left fa-2x"></i></a>
						</div>
					</div>
				</div>
				<h2>Settings</h2>

				<section class="row">
					<div class="col-md-3 col-lg-3"></div>
					<div class="col-md-6 col-lg-6">
						<div class="form-group"> 
							<div class="input-group">
								<span class="input-group-addon">App Title</span>
								<input type="text" class="form-control number" ng-model="options.title">
							</div>
						</div>
						<div class="form-group"> 
							<div class="input-group">
								<span class="input-group-addon">Currency Symbol</span>
								<input type="text" class="form-control number" ng-model="options.symbol">
							</div>
						</div>
						<div class="form-group"> 
							<div class="input-group">
								<span class="input-group-addon">Debug</span>
								<select class="form-control"
									ng-init="options.debug=options.debug==null?false:options.debug"
									ng-model="options.debug" 
									ng-options="option.value as option.name for option in [{value:false,name:'False'},{value:true,name:'True'}]">
								</select>
							</div>
						</div>
						<button class="btn btn-default pull-right" type="button" ng-click="save()">Save</button>
						<button class="btn btn-default" type="button" ng-click="clear()">Clear Data</button>
					</div>
					<div class="col-md-3 col-lg-3"></div>
				</section>
				
				<!--  Debbugger/Setter -->
				<section ng-show="Settings.debug">
					<pre>{{options}}</pre>
				</section>

			</div>
		
		
			<!------ About ------>
			<div role="tabpanel" class="tab-pane" id="about"  ng-controller="about">
				<!-- Subnav -->
				<div class="row nav">
					<div class="form-group col-md-3">
						<div class="btn-group ">
							<a class="btn btn-success back" href="#home" role="tab" data-toggle="tab"><i class="fa fa-arrow-circle-left fa-2x"></i></a>
						</div>
					</div>
				</div>

				<section class="row">
					<div class="col-md-4"></div>
					<div class="col-md-4">
						<div class="well well-xs">
							<p class="text-center">
								<img class="img-circle" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/5/005/0b1/272/2f18741.jpg" alt="" width="100">
								<br>
								<b>James Jomuad</b>
							</p>
							
							<h3>About the App</h3>
							<p>Browser Budget Manager will simply manages your budget. Browser Budget Manager help you to track your expenses, incomes, savings and always stay with-in budget.	It helps you visualize and give you idea about your budget.</p>
							<p><a href="readme.txt">Readme</a></p>
							<p><a href="versions">Versions</a></p>
							
							<h3>Components</h3>
							<p>
								<ul>
									<li>angular.js</li>
									<li>isotope.js</li>
									<li>jquery.js</li>
									<li>underscore.js</li>
									<li>Bootstrap</li>
								</ul>
							</p>
							
							<section ng-show="Settings.debug">
								<h3>User Discretion</h3>
								<p>First of all consider the bugs.</p>
								<p>As a developer's advocate, i will continue to uphold the standards to the highest degree.</p>
							</section>
						</div>
					</div>
					<div class="col-md-4"></div>
				</section>
			</div>

		</div>
		<!-- End Tab contents -->
	</div>

	<script src="js/script.js"></script>
</body>
</html>